<!DOCTYPE html>
<html>
    <title> Flag</title>
    <head>

    </head>
    <body>
        <h1> WE PROUD TO BE INDIAN And to be HINDU Religion</h1>
        <h2> WE PROUD TO BE INDIAN And to be HINDU Religion</h2>
    </body>
</html>
